/* STYLE UNTUK HALAMAN SERVICE */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
}

/* STYLE HEADER */
header {
    background-image: url(../img/machineh-4.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.481);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -40vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-size: 80px;
    line-height: 85px;
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
}

header hr {
    margin: 5px auto 30px auto;
    width: 40%;
}

header a {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 0.9rem;
    color: white;
}
/* STYLE HEADER END */

/* MAIN STYLE */
main h1 {
    padding-top: 50px;
    text-align: center;
}
main hr {
    border: 1px solid black;
    width: 10%;
    margin: 10px auto;
}
.layanan-btn {
    margin-top: 20px;
    border: none;
    background-color: transparent;
}
.btn { /*STYLE BUTTON UMUM*/
    line-height: 20px;
    border: 1px solid #2b2b2b;
    border-radius: 500px;
    padding: 10px 30px;
    transition: all .5s;
}
.btn-white {
    background-color: #2b2b2b;
    color: #ffffff;
}
.btn-black {
    background-color: #ffffff;
    color: #000000;
}
.layanan-btn:active {
    background-color: transparent;
    color: #2b2b2b;
}

.layanan {
    display: flex;
    align-items: center;
    padding: 100px 100px;
    gap: 30px;
    line-height: 25px;
}
.layanan:nth-child(even){ /*GENAP*/
    background-color: #2b2b2b;
    color: #ffffff;
    flex-direction: row-reverse;
    text-align: right;
}
.layanan img {
    max-width: 400px;
    height: auto;
}
.layanan p, .layanan h2 {
    margin-bottom: 10px;
}

/* MAIN STYLE END */